        
/* My account css */ 

#user-info-item {
    margin-top: 50px;
	border-right: 1px solid black;
}
#table-info-item {
	width:500px;
	text-align:left;
	margin: 0 auto;
   	margin-top: 50px; 
}    
h1 {
	text-align: center;
}